body {
    margin: 0 auto;  /* centriran cijeli sadrzaj */
    /* dodala sam u nastavku margine sa strane uputa (donja je veca zbog podnozja) */
    margin-top: 20px;
    margin-bottom: 150px;
    width: 80%;
    max-width: 800px;
    background-color: lightgray;
}

.grid-container {
    display: grid;
    grid-template-columns: auto fr1 fr1; /* 3 stupca */
    grid-template-rows: auto fr1 fr1 auto; /* 4 retka */
    grid-gap: 10px;
}

#zaglavlje {
    grid-column: 1/span 3; /* pocinje u prvom stupce, proteze se kroz tri */
    grid-row: 1; /* pocinje u prvom retku */
    background-color: rgb(156, 108, 102);
    /* uredivanje okvira */
    border-radius: 10px;
    border: 1px solid black;
    /* uredivanje teksta */
    font-family: "Raleway";
    font-size: x-large;
    color: rgb(255, 191, 185);
    padding-left: 20px; /* dodano sa strane uputa */
    padding-right: 10px; /* dodano sa strane uputa */
}

#navigacija {
    background-color: rgb(108, 163, 181);
    grid-column: 1; /* pocinje u prvom stupcu */
    grid-row: 2/span 2; /* pocinje u drugom retku, proteze se kroz dva */
    /* uredivanje okvira */
    border-radius: 10px;
    border: 1px solid black;
    /* zadan je flex pomocu kojeg su elementi prikazani jedno ispod drugog */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* polozaj poveznica je na pocetku spremnika po vertikalnoj (jer >column) osi */
    padding-top: 10px; /* razmak od 10px prije prve poveznice */
    padding-right: 20px; /* dodano sa strane uputa */
}

#navigacija li {
    margin-bottom: 10px; /* iza svake poveznice razmak od 10px */
}

#navigacija a {
    text-decoration: none; /* nije potrebno ali da maknemo ruznu crtu ispod poveznica */
    color: black;
}

#navigacija a:hover {
    color: lightblue; /* prolaskom misa preko poveznice mijenja se boja */
}

#osobnipodatci {
    background-color: rgb(191, 225, 225);
    grid-column: 2; /* pocinje u drugom stupcu */
    grid-row: 2; /* pocinje u drugom retku */
    /* uredivanje okvira */
    border-radius: 10px;
    border: 1px solid black;
    /* ponovno je zadano da su elementi jedno ispod drugog tako da cemo primijeniti flex */
    display: flex;
    flex-direction: column; /* vertikalna os je sada glavna os (main axis) */
    align-items: center; /* centrirano na osi suprotnoj od glavne, znaci horizontalnoj */
    padding: 20px;
}

/* smanjimo sliku da normalno izgleda unutar okvira */
#osobnipodatci img {
    width: 200px; /* fiksna sirina */
    height: auto; /* visina se prilagodava sirini */
    margin-bottom: 20px;
}

/* selektor klase "naglasi" koja obuhvaca cijeli tekst u okviru osobnih podataka */
.naglasi {
    font-weight: bold;
}

#kratkizivotopis {
    background-color: rgb(54, 172, 172);
    grid-column: 3; /* pocinje u trecem stupcu */
    grid-row: 2; /* pocinje u drugom retku */
    /* uredivanje okvira */
    border-radius: 10px;
    border: 1px solid black;
}

/* uredivanje svih paragrafa koji se nalaze u okviru kratkog zivotopisa */
#kratkizivotopis p {
    font-size: 1em; /* zadana je >relativna< velicina fonta */
    /* relativno - znaci u odnosu na roditeljski element, u ovom slucaju body (default velicina fonta je 16px) */
    /* 1em - znaci da ce velicina ostat 16px (16px * 1em) */
    background-color: rgb(71, 110, 140); /* boja pozadine >za tekst< */
    color: cyan;
    padding: 10px;
}

/* dohvacanje zadnjeg paragrafa u okviru */
#kratkizivotopis p:last-child {
    color: salmon !important; /* Override zadane cyan boje pomocu zadanog !important */
    font-style: italic;
}

#galerijaslika {
    background-color: rgb(223, 168, 162);
    grid-column: 2/span 2; /* pocinje u drugom stupcu, proteze se kroz dva */
    grid-row: 3; /* pocinje u trecem retku */
    /* uredivanje okvira */
    border-radius: 10px;
    border: 1px solid black;
    /* zadano je da se slike raspodijele u dva stupca, treba nam grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 predstavlja broj stupaca, fr znaci da zauzimaju isti dostupni prostor */
    justify-items: center; /* centrirano po horizontalnoj osi */
    align-items: center; /* centrirano po vertikalnoj osi */
    gap: 25px;
}

/* smanjimo slike da izgledaju normalno */
#galerijaslika img {
    height: 285px; /* neka okej visina */
    width: auto; /* zadano je da se sirina prilagodava dostupnom prostoru */
    transition: transform 1.5s ease;
    /* transition - svojstvo kojem pridodajemo odredeni transform */
    /* ease - animacija krece polako, ubrza, pa nakraju opet uspori */
}

#galerijaslika img:hover {
    transform: skewX(30deg);
    /* skewX - krivljenje po horizontalnoj(x) osi */
}

#podnozje {
    background-color: rgb(255, 225, 225);
    grid-column: 1/span 3; /* pocinje u prvom stupcu, proteze se kroz 3 */
    grid-row: 4; /* pocinje u cetvrtom retku */
    /* uredivanje okvira */
    border-radius: 10px;
    border: 1px solid black;
    /* uredivanje teksta */
    color: red; /* zadana boja */
    padding: 10px;
    /* postavljanje fiksne pozicije */
    position: fixed;
    bottom: 15px;
    width: 80%;
    max-width: 800px;
}

/* napravljena klasa za zadani dio paragrafa */
#podnozje .adresa {
    font-style: normal;
    color: initial; /* pomocu pravila nasljedivanja >ponistavamo< uredenje zadano za podnozje */
}

/* u nastavku je kod za ekran mobitela */
@media screen and (max-width: 400px) {
    body {
        margin-bottom: 20px; /* donja margina promijenjena jer podnozje vise nije fiksirano */
    }

    .grid-container {
        grid-template-columns: 50% 50%; /* dva stupca, svaki zauzima 50% sirine ekrana */
        grid-template-rows: auto fr1 auto; /* tri retka jer se raspodjeljuje 6 items-a u 2 stupca (6/2) */
    }

    /*
    zaglavlje, osobni podatci, galerija u lijevom stupcu
    navigacija, kratki zivotopis, podnozje u desnom
    */
    #zaglavlje {
        grid-column: 1; /* prvi stupac */
        grid-row: 1; /* prvi redak */

        font-size: large; /* smanjen font jer inace bi izvira iz okvira */
    }

    #navigacija {
        grid-column: 2; /* drugi stupac */
        grid-row: 1; /* prvi redak */
    }

    #osobnipodatci {
        grid-column: 1; /* prvi stupac */
        grid-row: 2; /* drugi redak */
    }

    #kratkizivotopis {
        grid-column: 2; /* drugi stupac */
        grid-row: 2; /* drugi redak */
    }

    #galerijaslika {
        grid-column: 1; /* prvi stupac */
        grid-row: 3; /* treci redak */
    }

    #galerijaslika img {
        width: 50px;
        height: auto;
    }

    #podnozje {
        grid-column: 2; /* drugi stupac */
        grid-row: 3; /* treci redak */
        /* overwrite za pravila fiksne pozicije */
        position: relative;
        bottom: auto;
        width: auto;
    }

    /* !treca tocka za prilagodljivi dizajn nije napravljena */
}